.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;

  &__image {
    width: 200px;
    height: 200px;
    margin-bottom: 32px;
  }

  &__icon {
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__icon-text {
    font-size: 48px;
  }

  &__title {
    font-size: 32px;
    color: #333;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 26px;
    color: #999;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 32px;
  }

  &__action {
    padding: 16px 48px;
    background-color: #1890ff;
    border-radius: 40px;
  }

  &__action-text {
    font-size: 28px;
    color: #fff;
  }
}
