.login {
  min-height: 100vh;
  padding: 64rpx 40rpx;
  background: #f5f5f5;

  &__card {
    background: #ffffff;
    border-radius: 24rpx;
    padding: 56rpx 40rpx;
  }

  &__title {
    font-size: 40rpx;
    font-weight: 700;
    color: #222;
    margin-bottom: 12rpx;
  }

  &__desc {
    font-size: 28rpx;
    color: #666;
    margin-bottom: 48rpx;
  }

  &__btn {
    width: 100%;
    height: 88rpx;
    line-height: 88rpx;
    border-radius: 12rpx;
    background: #07c160;
    color: #fff;
    font-size: 32rpx;
  }

  &__tip {
    margin-top: 24rpx;
    color: #999;
    font-size: 24rpx;
    text-align: center;
  }
}
