.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;

  &__image {
    width: 300px;
    height: 300px;
    margin-bottom: 32px;
  }

  &__icon {
    width: 200px;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__icon-text {
    font-size: 80px;
  }

  &__title {
    font-size: 32px;
    color: #333;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 26px;
    color: #999;
    text-align: center;
    line-height: 40px;
    margin-bottom: 32px;
  }

  &__button {
    min-width: 240px;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(135deg, #07c160 0%, #10d876 100%);
    color: #fff;
    font-size: 28px;
    border-radius: 40px;
    border: none;

    &::after {
      border: none;
    }
  }
}
